*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, sans-serif;
}

.ecran-divise {
    display: flex;
    height: 100vh;
}

.cote-gauche {
    flex: 1;
    background: linear-gradient(324deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    clip-path: circle(87% at 8% 65%);
}

.illustration img {
    width: 230px;
    height: 370px;
}

.description {
    text-align: center;
    margin-bottom: 15px;
}

.cote-droit {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input {
    width: 260px;
    height: 50px;
    padding: 25px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 100px; 
}

.bouton-connexion, .bouton-connexion a {
    padding: 10px 20px;
    border: none;
    border-radius: 85px;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

/* Inverser l'affichage sur les petits écrans */
@media screen and (max-width: 768px) {
    .ecran-divise {
        flex-direction: column-reverse; /* Inverser l'ordre des éléments */
        height: auto;
    }

    .cote-gauche, .cote-droit {
        flex: 1;
        padding: 20px;
    }
    .cote-gauche {
        clip-path: circle(60% at 50% 50%)
    }
}
@media screen and (max-width: 480px) {
    .cote-gauche {
        clip-path: circle(50% at 50% 50%);
    }
}